.formDetails {
    border: 0.5px;
    border-color: black;
    border-width: 100%;
    border-style: none none solid none;
    width: 90%;
    margin: 2% 5% 0 5%;
    outline: none;
}

::placeholder {
    font-weight: 100;
    font-size: 20px;
    color: grey;
}

#formDetails2 {
    height: 30px;
    margin-right: 10px;
}